@import "src/styles/styles";

:host {
  button {
    height: 32px;
  }
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  &:not(.mat-primary) {
    border: 1px solid lightblue;
  }
  box-shadow: none !important;
  border-radius: 4px;
  width: 77px;
  font-weight: 400;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mat-icon-button {
    height: 15px;
    width: 15px;
    line-height: 15px;
    ::ng-deep .mat-icon {
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 15px;
    }
  }
}
