@import "src/styles/styles";

:host {
  button {
    height: 32px;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    color: #307d91;
  }

  ::ng-deep {
    .mat-form-field-infix {
      padding-bottom: 3px;
      padding-top: 10px;
    }
    .mat-form-field.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label,
    .mat-form-field.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      color: #307d91;
    }
    .mat-form-field.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      color: #548daf;
      transform: translateY(-1.4em) scale(0.9) !important;
    }
  }
}

::ng-deep .icons-dropdown {
  margin-top: 50px;
}

// ::ng-deep .mat-select-value {
//   text-align: center;
// }

.mat-raised-button:not([class*="mat-elevation-z"]) {
  &:not(.mat-primary) {
    border: 1px solid lightblue;
  }
  box-shadow: none !important;
  border-radius: 4px;
  width: 77px;
  font-weight: 400;
}
