@import "src/styles/styles";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;

  .title {
    font-size: 24px;
    font-weight: 500;
    color: #307d91;
  }
  .date-field {
    width: 300px;
    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0px !important;
      }
      .mat-form-field-flex .mat-form-field-outline,
      .mat-form-field-flex:hover .mat-form-field-outline {
        color: transparent !important;
        border-width: 0px !important;
      }
    }
    &.mat-focused {
      ::ng-deep .mat-form-field-flex {
        .mat-form-field-outline {
          color: transparent !important;
          & > div {
            border-width: 0px;
          }
        }
      }
    }

    input {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      padding-bottom: 10px;
      padding-top: 10px;
      color: black;
    }
  }

  .line {
    width: 180px;
    height: 3px;
    border-bottom: 5px solid #eaf4f7;
    margin-top: -20px;
  }

  .is-loading {
    position: relative;
    border: none;
    height: 3px;
    width: 180px;
    align-self: center;
    padding-bottom: 22px;
    margin-top: -3px;

    mat-progress-bar {
      height: 3px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      // border-radius: 50px;
    }
  }

  .emotion {
    cursor: pointer;
    padding: 8px;
  }
  mat-icon.emotion-icon {
    width: 50px;
    height: 50px;
    &.small {
      width: 30px;
      height: 30px;
    }
  }

  .activities {
    max-width: 450px;
  }
  .activity {
    color: #307faa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .activity-icon-wrapper {
      border: 2px solid #307d91;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3px;
      position: relative;
    }
    mat-icon.activity-icon {
      width: 25px;
      height: 25px;
      font-size: 25px;
    }

    &.add {
      .activity-icon-wrapper {
        border: 2px solid lightgrey;
      }
      mat-icon.activity-icon {
        color: lightgrey;
      }
      span {
        color: #adadad;
      }

      &:hover {
        mat-icon.activity-icon {
          color: #09d4f8;
        }
      }
    }

    &.selected {
      .activity-icon-wrapper {
        border: 2px solid rgb(43 139 158);
        background-color: rgb(43 139 158);
        color: white;
      }
    }
    &:hover {
      cursor: pointer;
      .activity-icon-wrapper {
        color: #09d4f8;
      }
      &.selected {
        .activity-icon-wrapper {
          color: #dcfaff;
        }
      }
    }

    span {
      text-wrap: wrap;
      text-align: center;
      height: 30px;
      line-height: 17px;
      word-wrap: break-word;
      max-width: 65px;
    }
  }

  .emotion-name {
    text-align: center;
    font-size: 16px;
  }

  .arrow-wrapper {
    position: absolute;
    border: 2px solid #0f8cb5;
    color: #0f8cb5;
    border-radius: 50%;
    top: 62px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgb(60, 129, 161);
      border: rgb(60, 129, 161);
      color: white;
    }

    &.right {
      left: unset;
      right: 20px;
    }
  }

  .note {
    padding-top: 5px;
    height: unset !important;
    margin-top: 50px;
    background-color: rgba(173, 216, 230, 0.14) !important;
    border-radius: 20px;
    padding-left: 10px;

    ::ng-deep .mat-form-field-flex {
      .mat-form-field-outline {
        color: transparent !important;
      }
      &:hover {
        .mat-form-field-outline {
          color: transparent !important;
          & > div {
            border-width: 1px;
          }
        }
      }
      // label(placeholder) - not float
      .mat-input-element::placeholder,
      .mat-form-field-label {
        color: $gray30;
      }
    }

    &.mat-form-field-can-float.mat-form-field-should-float ::ng-deep {
      .mat-form-field-label {
        color: #548daf;
        transform: translateY(-23px);
        mat-label {
          background-color: transparent !important;
        }
      }
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }
}

::ng-deep {
  .mat-calendar-header ::ng-deep .mat-form-field-infix input {
    padding-bottom: 2px;
    &::after {
      content: unset !important;
    }
  }
}

.saveBtn {
  padding: 8px 26px;
  font-size: 16px;
  border-radius: 30px;
  position: absolute;
  bottom: 50px;
  border: 1px solid #d9ecef !important;
  color: #2ec4df !important;
}

::ng-deep textarea {
  cursor: auto;
  min-height: 20px;
  padding-right: 9px;
  line-height: 18px;
  resize: true;
  overflow: scroll;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
.slide-in-top {
  animation: slideInTop 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-40%);
  }
  to {
    transform: translateX(0);
  }
}
.display-none {
  display: none;
}

::ng-deep .mat-menu-panel {
  min-height: 30px !important;
  min-width: 10px;
  margin-top: 10px;
  .mat-menu-content:not(:empty) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mat-menu-item {
    height: 30px;
  }
}
