<form
  [formGroup]="formGroup"
  class="d-flex flex-column justify-content-center align-items-center wrapper"
  [ngClass]="{
    'slide-in': STEP == 2,
    'slide-out': STEP == 11,
    'slide-in-top': STEP == 1
  }"
>
  <ng-container *ngIf="STEP == 1 || STEP == 11">
    <span class="pt-5 title">HOW ARE YOU?</span>
    <mat-form-field class="date-field" appearance="outline" color="primary">
      <input
        formControlName="date"
        name="start"
        matInput
        [matDatepicker]="dpDate"
        (click)="dpDate.open()"
        readonly="true"
        [max]="maxDate"
        (dateChange)="selectMonth(dpDate)"
      />
      <mat-datepicker
        #dpDate
        disabled="false"
        [calendarHeaderComponent]="timeHeader"
      ></mat-datepicker>
    </mat-form-field>
    <div class="line d-flex align-self-center"></div>
    <div class="d-flex flex-row w-100 gap-3 justify-content-center pt-5">
      <div
        *ngFor="let emotion of emotions"
        class="d-flex flex-column justify-content-center emotion {{
          emotion.name
        }}"
        (click)="selectedEmotion = emotion; STEP = 2"
        [class.selected]="selectedEmotion == emotion"
      >
        <mat-icon
          class="emotion-icon {{ emotion.name }} flex-grow-0 flex-shrink-0"
          [svgIcon]="emotion.icon"
        ></mat-icon>
        <span class="emotion-name {{ emotion.name }}">{{ emotion.name }}</span>
      </div>
    </div>
  </ng-container>

  <!-- STEP 2 -->
  <ng-container *ngIf="STEP == 2">
    <div
      class="d-flex flex-column justify-content-center emotion {{
        selectedEmotion.name
      }} pt-4"
    >
      <mat-icon
        class="emotion-icon small {{
          selectedEmotion.name
        }} flex-grow-0 flex-shrink-0"
        [svgIcon]="selectedEmotion.icon"
      ></mat-icon>
    </div>

    <span class="pt-3 title">WHAT HAVE YOU BEEN UP TO?</span>
    <div
      class="d-flex flex-row w-100 gap-4 justify-content-center mt-5 pt-5 flex-wrap activities"
    >
      <div
        *ngFor="let activity of activities"
        class="d-flex flex-column justify-content-center activity d-flex"
        (click)="activity.selected = !activity.selected"
        [class.selected]="activity.selected"
        (contextmenu)="
          $event.preventDefault();
          $event.stopPropagation();
          activityToRemove = activity;
          contextMenuTrigger.openMenu()
        "
      >
        <div
          class="activity-icon-wrapper"
          #contextMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="myMenu"
          style="pointer-events: none"
        >
          <mat-icon class="activity-icon">{{ activity.icon }}</mat-icon>
        </div>
        <span>{{ activity.name }}</span>
      </div>

      <mat-menu #myMenu="matMenu">
        <button mat-menu-item (click)="removeActivity()">Remove</button>
      </mat-menu>

      <div
        class="d-flex flex-column justify-content-center activity d-flex add"
        (click)="addActivity()"
      >
        <div class="activity-icon-wrapper">
          <mat-icon class="activity-icon">add</mat-icon>
        </div>
        <span>add/new</span>
      </div>
    </div>

    <mat-form-field
      class="h-auto mb-0 note w-100"
      appearance="outline"
      color="primary"
    >
      <mat-label>Add Note...</mat-label>
      <textarea
        type="text"
        formControlName="note"
        matInput
        name="note"
        autocomplete="off"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
      ></textarea>
    </mat-form-field>
  </ng-container>
</form>

<div
  class="arrow-wrapper right"
  *ngIf="selectedEmotion && STEP != 2"
  (click)="STEP = 2"
>
  <mat-icon class="arrow">arrow_forward</mat-icon>
</div>

<div class="arrow-wrapper" *ngIf="STEP == 2" (click)="STEP = 11">
  <mat-icon class="arrow">arrow_back</mat-icon>
</div>
<div
  *ngIf="STEP == 2"
  class="arrow-wrapper right"
  matTooltip="Save mood"
  matTooltipShowDelay="500"
  (click)="save()"
>
  <mat-icon class="arrow">save</mat-icon>
</div>
